<div class="blog-index">
  <h3>My Blog<small>Read my random posts that I write to collect my thoughts</small></h3>
  <hr>
  <div class="blog-list">
    <% blog.articles[0...10].each do |article| %>
      <div class="blog-item">
          <h2 class="header"><a href="<%= article.url %>"><%= article.title %></a></h2>
          <time><%= article.date.strftime('%b %e %Y') %></time>
          <p><%= article.summary %></p>
      </div>
    <% end %>
  </div>
  <div class="blog-nav">
          <h2>Tags</h2>
          <ol>
            <% blog.tags.each do |tag, articles| %>
              <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
            <% end %>
          </ol>

          <h2>By Year</h2>
          <ol>
            <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
              <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
            <% end %>
          </ol>
  </div>
  <!--
  <% blog.articles[0...10].each do |article| %>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><a href="<%= article.url %>"><%= article.title %></a></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <time><%= article.date.strftime('%b %e %Y') %></time>
    <%= article.summary %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
     href="<%= article.url %>">Read more</a>
    </a>
  </div>
</div>
<% end %>-->
</div>
